{# templates/form/fields.html.twig #}
{% block leaflet_widget %}
        {% set mapurl = 'https://map.cardinalguild.com?hideheader=true&admin=true' %}
        {% if sonata_admin is not empty and sonata_admin.admin is not empty and sonata_admin.admin.subject is not empty %}
            {% set subject = sonata_admin.admin.subject %}
            {% if subject.lat is not empty %}
                {% set mapurl = (mapurl ~ '&lat=' ~ subject.lat) %}
            {% endif %}
            {% if subject.lng is not empty %}
                {% set mapurl = (mapurl ~ '&lng=' ~ subject.lng) %}
            {% endif %}
        {% endif %}
        <div id="island-placer-{{ sonata_admin.admin.uniqid }}" style="min-height: 300px; height: 70vh;"></div>
        {% verbatim %}
        <script type="text/javascript">
            var uniqid = '{% endverbatim %}{{ sonata_admin.admin.uniqid }}{% verbatim %}';
            var lat = '{% endverbatim %}{{ subject.lat }}{% verbatim %}';
            var lng = '{% endverbatim %}{{ subject.lng }}{% verbatim %}';
            $(document).ready(function() {
                 WAPlacer.init('island-placer-'+uniqid, uniqid, lat, lng);
            });
        </script>
        {% endverbatim %}
{% endblock %}
